@import url("https://cdn.jsdelivr.net/font-nanum/1.0/nanummyeongjo/nanummyeongjo.css");
@import url("https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext");

@mixin flexbox-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes breathing {
    0% {
        text-shadow: 0 0 0.125rem rgb(50,50,50);
    }
    50% {
        text-shadow: 0 0 0 white;
    }
    100% {
        text-shadow: 0 0 0.125rem rgb(50,50,50);
    }
}

@keyframes breathing-workaround {
    0% {
        color: rgb(50,50,50);
    }
    50% {
        color: white;
    }
    100% {
        color: rgb(50,50,50);
    }
}

$font-size: 5.5rem;
$dimen-margin: 1.25;
$dimen-container: $font-size * $dimen-margin * 5;

@mixin blurry-font {
    color: transparent;
    text-shadow: 0 0 0.125rem rgba(255, 255, 255, 0.0625);
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    transition: text-shadow 2s ease;
}

@mixin blurry-font-workaround {
    filter: blur(1px);
    color: rgba(255, 255, 255, 0.0625);
    transition: color 2s ease;
    text-shadow: none;
}

@mixin han-font($font-size, $dimen-margin) {
    font-weight: 200;
    font-size: $font-size;
    line-height: $font-size * $dimen-margin;
    font-family: 'Nanum Myeongjo', serif;
}

@mixin body-size {
    width: $dimen-container;
    height: $dimen-container;
    text-align: justify;
}

html, body, .clock-outer, .han {
    @include flexbox-center;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.hide {
    opacity: 0;
}

body {
    transition: opacity 3s cubic-bezier(.76,.01,.83,.67);
}

.clock-outer {
    @include body-size;
    flex-wrap: wrap;

    .han {
        @include han-font($font-size, $dimen-margin);
        @include blurry-font;
        flex: 1 0 20%;
    }

    .han.breathing {
        animation: breathing 6s infinite;
    }

    .han.on {
        text-shadow: 0 0 0.125rem white;
    }
}

body.no-blur-support {
    .clock-outer {
        .han {
            @include blurry-font-workaround;
        }

        .han.breathing {
            animation: breathing-workaround 6s infinite;
        }

        .han.on {
            color: white;
        }
    }
}


$dimen-logo-width: (400px / 4);
$dimen-logo-height: (235px / 4);

.profile {
    opacity: 0.9;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    right: $dimen-logo-width + 10px;
    bottom: 3px;
    line-height: 1em;
    letter-spacing: 0.1em;
}

#logo {
    position: absolute;
    opacity: 0.8;
    bottom: 40px;
    right: 40px;
    width: $dimen-logo-width;
    height: $dimen-logo-height;
    background: url(logo.png) no-repeat;
    background-size: contain;
}
